body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: #ebebef;
  margin: 5px;
}

header {
  background-color: #CB8A2D;
  height: 140px;
  margin-bottom: 30px;
}

nav {
  width: 1200px;
  margin: auto;
}

header nav h1 {
  font-family: 'Arial Narrow', 'Franklin Gothic Medium', Arial, sans-serif;
  font-size: 35px;
  padding-top: 15px;
}

header nav ul li:hover {
  background-color: #ebebef;
  transform: scale(1.5);
}

header nav img {
  float: left;
  margin-top: 0px;
  margin-right: 1px;
  padding-left: 0px;
}

header nav ul {
  display: flex;
  justify-content: space-around;
  font-size: 22px;
}

a {
  text-decoration: none;
  color: rgb(5, 5, 5);
}

main {
  width: 1200px;
  margin: auto;
}

main nav {
  margin-top: 50px;
}

main ul {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 30px;
  padding-left: 0px;
}

p {
  font-size: large;
  white-space: 10px;
}

main section {
  width: 1200px;
  background-color: #ebebef;
}

main section img {
  width: 1200px;
}

body main section {
  text-align: center;
font-size: larger;
}

footer {
  border: 10px;
  height: 40px;
  padding: 20px;
  background-color: #CB8A2D
}

footer section ul li:before{
  content: "• "
}

footer section ul li{
  float: left;
 font-size: larger;
 margin:25px;
}

button{
  float: right;
}

button:hover {
  background-color: #5cdd72;
  transform: scale(1.2);
}
